:root {
  --bg: #ffffff;
  --bg-alt: #fafafa;
  --stroke: #ebebeb;
  --main-text: #222222;
  --main-text-alt: #474747;
  --secondary-text: #5c5c5c;
  --secondary-text-alt: #d1d1d1;
  --secondary-text-alt2: #999999;
  --patch: #e14165;
  --patch-alt: #c2c2ff;
  --patch-alt2: #8686ff;
  --status-online: #1bda9d;
  --status-paused: #ff8346;
  --status-stopped: #fe4848;
  --green: #2ee5ac;
  --gray: #7d7d7d;
}
